services:
  db:
    image: mariadb:11.4
    container_name: lab3-db
    environment:
      MARIADB_ROOT_PASSWORD: rootpass
      MARIADB_DATABASE: backend_lab3
      MARIADB_USER: backend
      MARIADB_PASSWORD: backend
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lab3-app
    environment:
      APP_NAME: backend-lab3
      HTTP_PORT: 8080
      GIN_MODE: release
      DATABASE_DSN: backend:backend@tcp(db:3306)/backend_lab3?parseTime=true&loc=Local&charset=utf8mb4
      ALLOW_NEGATIVE_BALANCE: "false"
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
    driver: local
