services:
  db:
    image: postgres:17
    container_name: lab3-db
    environment:
      POSTGRES_DB: ${DB_NAME:?DB_NAME is required}
      POSTGRES_USER: ${DB_USER:?DB_USER is required}
      POSTGRES_PASSWORD: ${DB_PASSWORD:?DB_PASSWORD is required}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:?DB_USER is required} -d ${DB_NAME:?DB_NAME is required}"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lab3-app
    environment:
      APP_NAME: ${APP_NAME:-backend-lab3}
      HTTP_PORT: ${HTTP_PORT:-8080}
      GIN_MODE: ${GIN_MODE:-release}
      DATABASE_DSN: "postgres://${DB_USER:?DB_USER is required}:${DB_PASSWORD:?DB_PASSWORD is required}@db:${DB_PORT:-5432}/${DB_NAME:?DB_NAME is required}?sslmode=disable"
      ALLOW_NEGATIVE_BALANCE: '${ALLOW_NEGATIVE_BALANCE:-false}'
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
    driver: local
